# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env
credentials.json

# Mac system files
.DS_Store

# Electron files
*.exe
*.dmg
*.app
*.icns
*.ico
*.nsh
*.plist

# Vercel
.vercel
